@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(https://kit.fontawesome.com/5e5db45630.css);

/* //////////LOCK OUT PAGE ITEMS SCRIPT */
/* lock out items css */
#protected-page-overlay.protected-prompt {
  outline: none;
  width: calc(100vw - 240px);
  height: calc(100vh - 110px);
  padding: 20px 15px;
  position: absolute;
  top: 100px;
  right: 10px !important;
  background-color: transparent;
  /* background-color: #f0f0f0; */
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0);
  transform: translate(0%, 0%);
  z-index: 99;
  text-align: center;
  opacity: 0;
  transition: all 0.7s;
  /* background-color: rgba(255, 255, 255, 0); */
}

.fa-solid.fa-lock.lockout {
  outline: none;
  position: absolute;
  top: 50%;
  right: 15px;
  opacity: 1;
  transform: translateY(-50%);
  color: red;
  font-size: 16px;
  opacity: 0;
  z-index: 9;
  background: rgb(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 50px;
  transition: all 0.7s;
}

#protected-navlink-lock.fa-solid.fa-lock,
.protected-navlink-lock .fa-solid.fa-lock.lockout {
  outline: none;
  position: absolute;
  top: 50%;
  right: 5px;
  opacity: 1;
  transform: translateY(-50%);
  color: rgba(255, 0, 0, 0.8);
  font-size: 16px;
  opacity: 1 !important;
  z-index: 9;
  background: rgb(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 50px;
  font-size: 13px;
  transition: all 0.7s;
}

#protected-navlink-lock.fa-solid.fa-lock:hover,
.protected-navlink-lock .fa-solid.fa-lock.lockout:hover {
  right: 10px;
  transition: all 0.7s;
}

#protected-page-overlay~#app #sb_conversations.protected-navlink-lock .fa-solid.fa-lock.lockout {
  /* background: rgb(255, 255, 255, 1) !important; */
  outline: none;
}

#launchpad.blurrr,
#location-dashboard.blurrr,
#conversations.blurrr,
#calender-v2.blurrr,
#hl_calendar_events.blurrr,
#smartlists.blurrr,
#OpportunitiesList.blurrr,
#paymentsApp.blurrr,
#socialMediaPlanner.blurrr,
#workflowBuilder.blurrr,
#FunnelList.blurrr,
#membership.blurrr,
#Reputation-dashboard-container.blurrr,
#reporting-adwords-dashboard.blurrr,
#mobileAppCustomiser.blurrr,
.blurrr-wrap #launchpad.blurrr,
.blurrr-wrap #location-dashboard.blurrr,
.blurrr-wrap #conversations.blurrr,
.blurrr-wrap #calender-v2.blurrr,
.blurrr-wrap #hl_calendar_events.blurrr,
.blurrr-wrap #smartlists.blurrr,
.blurrr-wrap #OpportunitiesList.blurrr,
.blurrr-wrap #paymentsApp.blurrr,
.blurrr-wrap #socialMediaPlanner.blurrr,
.blurrr-wrap #workflowBuilder.blurrr,
.blurrr-wrap #FunnelList.blurrr,
.blurrr-wrap #membership.blurrr,
.blurrr-wrap #Reputation-dashboard-container.blurrr,
.blurrr-wrap #reporting-adwords-dashboard.blurrr,
.blurrr-wrap #mobileAppCustomiser.blurrr,
.blurrr-wrap #launchpad,
.blurrr-wrap #location-dashboard,
.blurrr-wrap #conversations,
.blurrr-wrap #calender-v2,
.blurrr-wrap #hl_calendar_events,
.blurrr-wrap #smartlists,
.blurrr-wrap #OpportunitiesList,
.blurrr-wrap #paymentsApp,
.blurrr-wrap #socialMediaPlanner,
.blurrr-wrap #workflowBuilder,
.blurrr-wrap #FunnelList,
.blurrr-wrap #membership,
.blurrr-wrap #Reputation-dashboard-container,
.blurrr-wrap #reporting-adwords-dashboard,
.blurrr-wrap #mobileAppCustomiser,
.blurrr-wrap #social-planner-mf,
.blurrr-wrap #conversation-ai-settings,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #launchpad,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #location-dashboard,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #conversations,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #calender-v2,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #hl_calendar_events,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #smartlists,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #OpportunitiesList,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #paymentsApp,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #socialMediaPlanner,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #workflowBuilder,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #FunnelList,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #membership,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #Reputation-dashboard-container,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #reporting-adwords-dashboard,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #mobileAppCustomiser,
#protected-page-overlay~#socialMediaPlanner,
#protected-page-overlay~#paymentsApp,
#protected-page-overlay~#membership,
#protected-page-overlay~#WebsiteList,
#protected-page-overlay~#ProposalEstimatesListApp,
#protected-page-overlay~#location-dashboard.blurrr,
#protected-page-overlay~.hl_payment--styles.hl_topbar-tabs.hl_wrapper.hl_without-topbar,
#protected-page-overlay~.hl_without-topbar .hl_wrapper #mobileAppCustomiser,
#protected-page-overlay~.hl_wrapper.hl_without-topbar #launchpad,
#protected-page-overlay~.hl_topbar-tabs.hl_without-topbar #workflowBuilder,
#protected-page-overlay~.blurr-wrap #CalendarPage,
.blurrr-wrap #location-custom-reports,
.blurrr-wrap #reputation-dashboard-container .hl-wrapper-container,
.blurrr-wrap #CalendarPage .n-config-provider,
.blurrr-wrap #snippetsApp,
.blurrr-wrap #triggerLinksPage,
.blurrr-wrap .card.hl_dashboard--latest-review-requests,
.blurrr-wrap #contact-restore-dashboard,
.blurrr-wrap #filters,
.blurrr-wrap .hl_settings--body.hl_settings--customize-communication.hl_topbar-tabs,
.blurrr-wrap #bulkActionsList,
#protected-page-overlay~.blurrr-wrap .container-fluid.w-full,
#protected-page-overlay~.blurrr-wrap .countdown-timer-list,
#protected-page-overlay~.blurrr-wrap #affiliateApp>div>iframe,
#protected-page-overlay~.blurrr-wrap #brandBoardList .max-w-7xl.m-auto,
#protected-page-overlay~.blurrr-wrap .n-config-provider,
#protected-page-overlay~.blurrr-wrap #teamsPage iframe,
#protected-page-overlay~.blurrr-wrap .container-fluid .card.hl_customers--table,
#protected-page-overlay~.blurrr-wrap #isvApp iframe,
#protected-page-overlay~.blurrr-wrap .hl_reputation--body,
#protected-page-overlay~.blurrr-wrap .hl_settings--body.hl_v2_stettings--body .container-fluid,
#protected-page-overlay~.blurrr-wrap #cpSettingsPage iframe,
#protected-page-overlay~.blurrr-wrap #auditLogsPage iframe,
#protected-page-overlay~.blurrr-wrap .hl_topbar-tabs,
.blurrr-wrap .hl_topbar-tabs {
  filter: blur(50px);
}

#protected-page-overlay~#location-dashboard.blurrr {
  display: block !important;
}

#protected-page-overlay~#location-dashboard.blurrr~.newDashboardWrapper {
  display: none !important;
}

.blurrr-wrap {
  height: 100vh;
}

body #app .burrbg {
  content: '';
  background-image: url('https://cdn.locationapi.co/test/themegenerator/images/protected-bg.jpg');
  filter: blur(50px);
  width: calc(100vw - 215px);
  height: calc(100vh - 0px);
  padding: 0px;
  position: absolute;
  top: 90px;
  right: 0;
  border-radius: 0px;
  transform: translate(0%, 0%);
  text-align: center;
  transition: all 0.7s;
  z-index: 1;
  opacity: 1;
  display: none;
}

/* Ends here THIS IS FOR THE THE content_id dynamic from the selected url id */
/* 
#sb_launchpad.active[style*='opacity: 0.91;'],
#sb_dashboard.active[style*='opacity: 0.91;'],
#sb_conversations.active[style*='opacity: 0.91;'],
#sb_calendars.active[style*='opacity: 0.91;'],
#sb_calendars.active[style*='opacity: 0.91;'],
#sb_contacts.active[style*='opacity: 0.91;'],
#sb_opportunities.active[style*='opacity: 0.91;'],
#sb_payments.active[style*='opacity: 0.91;'],
#sb_email-marketing.active[style*='opacity: 0.91;'],
#sb_automation.active[style*='opacity: 0.91;'],
#sb_sites.active[style*='opacity: 0.91;'],
#sb_memberships.active[style*='opacity: 0.91;'],
#sb_reputation.active[style*='opacity: 0.91;'],
#sb_reporting.active[style*='opacity: 0.91;'],
#sb_location-mobile-app.active[style*='opacity: 0.91;'] {
  opacity: 0.4 !important;
}

#sb_launchpad.active[style*='opacity: 0.91;']::before,
#sb_dashboard.active[style*='opacity: 0.91;']::before,
#sb_conversations.active[style*='opacity: 0.91;']::before,
#sb_calendars.active[style*='opacity: 0.91;']::before,
#sb_calendars.active[style*='opacity: 0.91;']::before,
#sb_contacts.active[style*='opacity: 0.91;']::before,
#sb_opportunities.active[style*='opacity: 0.91;']::before,
#sb_payments.active[style*='opacity: 0.91;']::before,
#sb_email-marketing.active[style*='opacity: 0.91;']::before,
#sb_automation.active[style*='opacity: 0.91;']::before,
#sb_sites.active[style*='opacity: 0.91;']::before,
#sb_memberships.active[style*='opacity: 0.91;']::before,
#sb_reputation.active[style*='opacity: 0.91;']::before,
#sb_reporting.active[style*='opacity: 0.91;']::before,
#sb_location-mobile-app.active[style*='opacity: 0.91;']::before {
  content: '\f023';
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: FontAwesome;
  font-weight: 800;
  transition: all 0.3s;
  color: rgb(255, 2, 2);
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
  font-size: 17px;
} */

/* ends here */

/* FOR MAIN MENUS sub menues will all be disabled */
#protected-page-overlay~#app .hl_topbar-tabs.hl_without-topbar .hl_wrapper,
#protected-page-overlay~#app .hl_wrapper,
#protected-page-overlay~#app .hl_topbar-tabs.hl_without-topbar,
#protected-page-overlay~#app .hl_settings--body.hl_without-topbar,
#protected-page-overlay~#app .newDashboardWrapper,
#protected-page-overlay~#app .hl_without-topbar,
#protected-page-overlay~#app #marketplace-app,
#protected-page-overlay~#app .hl_wrapper #custom-link-blurr,
#protected-page-overlay~#app .hl_wrapper #custom-menu-link.custom-link,
#protected-page-overlay~#app .hl_wrapper #custom-menu-link,
#protected-page-overlay~#app.blurrr-wrap .hl_wrapper #custom-menu-link {
  filter: blur(30px);
}

/* ends here FOR MAIN MENUS sub menues will all be disabled */

#app #sidebar-v2 .flex-1.w-full {
  display: flex;
  flex-direction: column;
}

/* reorder of left navigation menu links */
body #app .sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.custom-link {
  /* order: 190 !important; */
  outline: none;
}

body #app .sidebar-v2-location #sidebar-v2 .hl_nav-header nav a#helpDeskCtrlNSW {
  justify-content: start !important;
}

body #app #sidebar-v2 {
  z-index: 99;
  outline: none;
}

/* hide menu links */
#app .sidebar-v2-location #sidebar-v2 nav a,
#app .sidebar-v2-agency #sidebar-v2 nav a {
  position: relative;
}

#app .sidebar-v2-location #sidebar-v2 nav a .hide-menu-icon,
#app .sidebar-v2-agency #sidebar-v2 nav a .hide-menu-icon {
  position: absolute !important;
  right: 5px !important;
  top: unset !important;
  display: none !important;
  opacity: 0 !important;
}

#app .sidebar-v2-location #sidebar-v2 nav a#sb_conversations .hide-menu-icon {
  right: 32px !important;
  z-index: 999 !important;
}

#app .sidebar-v2-location #sidebar-v2 nav a:hover .hide-menu-icon.active,
#app .sidebar-v2-agency #sidebar-v2 nav a:hover .hide-menu-icon.active {
  display: block !important;
  opacity: 1 !important;
}

#app .sidebar-v2-location #sidebar-v2 nav a .hide-menu-icon i,
#app .sidebar-v2-agency #sidebar-v2 nav a .hide-menu-icon i {
  font-size: 20px !important;
  color: var(--hlpt-left-nav-active-color) !important;
}

#app .sidebar-v2-location #sidebar-v2 nav a#sb_memberships {
  position: relative !important;
}

#app .sidebar-v2-location #sidebar-v2 nav a#sb_divider-1 .hide-menu-icon,
#app .sidebar-v2-agency #sidebar-v2 nav a#sb_divider-1 .hide-menu-icon {
  display: none !important;
}

#advance_modal_support~div.absolute.z-50.h-full.w-full.bg-white {
  z-index: 99;
}

/* ends here hide menu */